@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    background-color: #171846;
}

.logo {
    width: 15rem;
    background-size: cover;
}

.navbar {
    background-color: #171846;
}

#navbarNav {
    justify-content: right;
}

.navbar-toggler {
    flex-wrap: nowrap;
}

.nav-item {
    padding: 10px;
}

.acessar {
    margin-left: 70px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
    background-color: #FF7D00;
    color: white;
    text-decoration: none;
    text-align: center;
}

.acessar:hover {
    scale: 105%;
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);
    transform: translate(3px);
    font-weight: 400;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url(../assets/img/menu.png);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);
    transform: translate(-3px, -3px);
    font-weight: 400;
}

body {
    background-color: rgb(151, 216, 216);
}

.img-languages:hover {
    scale: 110%;
}

.video-banner {
    position: relative;
}

.video {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.marketing-description {
    position: absolute;
    background-color: rgba(55, 118, 201, 0.514);
    color: white;
    width: 500px;
    max-height: 100%;
    min-height: 100%;
    top: 0;
}

.cadastre-se > a > p{
    position: absolute;
    margin: 0px;
    background-color: #FF7D00;
    border-radius: 20px;
    padding: 10px 60px;
    text-decoration: none;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
}

.cadastre-se > a > p:hover {
    scale: 110%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
}